{% extends '../layout2.server.view.html' %}


{% block content %}


<div class="row">

    <div class="col-md-8">
        <a href="#" class="thumbnail">
            <img {% if !product.product_media.length %}data-src="holder.js/300x300"{% endif %} src="{% if product.product_media.length %}{{product.product_media[0].url}}{% endif %}" width="300" height="300" alert="...">
        </a>
        <h4>
            <a href="/magento/product/{{product.sku}}">{{ product.name }}</a>
        </h4>
        <p>{{ product.short_description }}</p>
    </div>
    <div class="col-md-4">
        <h2>{{ product.name }}</h2>
        <h3>Price : {{product.price}}</h3>
        {% if product.is_in_stock === '1' %}
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Quantity</label>
                    <div class="col-sm-10">
                        <select class="form-control">

                            {% if product.qty > 10 %}
                                {% set productCount = 10 %}
                            {% else %}
                                {% set productCount = product.qty %}
                            {% endif %}

                            {% set productCountArray = Array(productCount) %}
                            {% for x in productCountArray %}
                            <option>{{ loop.index }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <input type="hidden" name="sku" value="{{product.sku}}" >
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input class="btn btn-default" type="submit" value="Add To Cart">
                    </div>
                </div>
            </form>
        {% else %}
            <h4>OUT OF STOCK</h4>
        {% endif%}
    </div>

</div>

{% endblock %}