<table data-ng-controller="ProductsController" data-ng-init="find()" class="table table-striped">
    <thead>
        
    <th class="page-header">
        <h1>Products</h1>
    </th>
    </thead>
    <tr class="list-group" data-ng-repeat="product in products">
    <td>
        <a data-ng-href="#!/articles/{{product.product_id}}" class="list-group-item"><h2>{{product.name}}</h2></a>
            <img src="{{ product.product_media[0].url }}" height="60" />
            <p class="list-group-item-text" data-ng-bind="product.short_description"></p>
            <p class="list-group-item-text"><b>{{product.price}}</b></p>
    </td>
    </tr>
</table>