<div data-ng-controller="ProductsController" data-ng-init="find()">
<h2 class="page-header"><span class="glyphicon glyphicon-inbox"></span>&nbsp; Products</h2>


<!-- SEARCH & FILTER AREA -->
<div class="container-fluid search-bar">
    <div class="row">
        <div class="col-sm-4 ">
            <label>Search</label><input type="search" class="form-control">
        </div>
        <div class="col-sm-4">
             <label>Quick filter</label><input type="search" class="form-control" ng-model="searchText">
        </div>
 <!--       <div class="col-sm-4">
             <label>Do something</label><input type="search" class="form-control">
        </div> -->
    </div> 
</div>

<!-- PRODUCTS TABLE -->
<section class="row">
    
    <table class="sylius-products-table table table-striped table-bordered">
    <thead>
        <tr>
             <th>
             Select all
              <input type="checkbox" ng-model="master">
              </th>
            <th>
                <a href="#####" ng-click="predicate = 'name'; reverse=!reverse">SKU <!-- <span class="glyphicon glyphicon-chevron-up"></span> --></a>
            </th>
            <th>
                Image
            </th>
            <th>
                <a href="#" ng-click="predicate = 'name'; reverse=!reverse">Name</a>
            </th>
            <th>
                Current stock
            </th>
            <th>
                <a href="#" ng-click="predicate = 'name'; reverse=!reverse">Retail price</a>
            </th>
            <th>
                <a href="#" ng-click="predicate = 'name'; reverse=!reverse">Updated On</a>
            </th>
            <th>
                Modify Product
            </th>


        </tr>
    </thead>
    
    <tbody>
            <tr data-ng-repeat="product in products | filter:searchText | orderBy:predicate:reverse">
            <td class="id">
                <input type="checkbox" ng-checked="master">
            </td>

              <td>
                <div class="media">
                        <div class="media-body">
                            <code class="sku">{{product.sku}}</code>
                        </div>
                    </div>
                </div>
            </td>

            <td>
                <a href="#!/products/{{product.sku}}" class="pull-left" title="View {{product.name}} details">
                        <img src="{{product.product_media[0].url}}" height="120" alt="" >
                    </a>
            </td>


            <td class="id">
                                    <h5 class="media-heading">
                    <a data-ng-href="#!/products/{{product.sku}}" class="name" title="View {{product.name}} details">
                        {{product.name}}
                    </a>
                    </h5>
            </td>
          
            <td class="stock out-of-stock text-muted">
                  <em>Out of stock</em>
            </td>
                            

        <td class="retail-price">{{product.price}}</td>
            
            <td class="updated-at">{{product.updated_at}}</td>
            <td class="actions">
               <div class="btn-group">
                    <a class="btn btn-sm btn-default" href="#!/products/clone/{{product.sku}}" title="Clone" data-toggle="tooltip">
                        <span class="glyphicon glyphicon-share"></span> 
                 </a>
                    <a class="btn btn-sm btn-default" href="#!/products/edit/{{product.sku}}" title="Edit" data-toggle="tooltip">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </a>
                    <a class="btn btn-sm btn-default " href="#!/products/delete/{{product.sku}}" title="Delete" data-toggle="tooltip">
                        <span class="glyphicon glyphicon-trash"></span> 
                    </a>
                </div>
                            </td>
        </tr>
        </tbody>
</table>
</section>


</div>